body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  min-height: 95vh;
}

.logo{
  display: block;
}

h1 {
  font-size: 5rem;

}

h1 p {
  display: inline-block;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

footer {
  text-align: right;
  color: midnightblue;
}

.left , .right {
  display:inline-block;
  width: 40%;
}

.left img , .right  img{
  width: 60%;
  float:left;
  margin-right:30px;
}


.right {
  float:right;
}

.right {
  margin-left: 0%;
}

footer {
  clear:both;
}

/* For Mobile Phones */
@media (min-width:319px) and (max-width:480px) {
.main {
  width:80%;
}

h1 {
  font-size: 45px;
  text-align: center;
  width: 100%;
}

  .logo {
    width: 70px;
    margin-left: 10px;
  }

  .right , .left {
    display: block;
    width: 100%;

  }

  .right img , .left img {
    clear: both;
    width: 100%;
    /* text-align: center; */

  }

  .right h2 , .left .h2  {
    font-size: 20px;
  }
  
  .right p , .left p {
    font-size: 13px;
  }
  
footer {
  display: none;
}


}